
@{
    ViewBag.Title = "ChiTietSON";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">TRANG CHỦ</a></li>
            <li class="breadcrumb-item"><a href="#">DANH MỤC SẢN PHẨM</a></li>
            <li class="breadcrumb-item"><a href="#">SON MÔI</a></li>
            <li class="breadcrumb-item"><a href="#">Son Kem Lì Black Rouge A12</a></li>
        </ol>
    </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/SON/BR/1.jpg"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb">
                                <img src="~/Content/images/SON/BR/1.jpg" />
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/4.png" />
                                </a>
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/5.png" />
                                </a>
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/6.jpg" />
                                </a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">Son Kem Lì Black Rouge A12 - Đỏ Nâu Gạch Trầm Airfit Velvet Tint 4.5g</h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">500 nhận xét</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 1000 lượt mua</small>
                    </div> <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <var class="price h4">250.000 VND</var>
                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        Son Kem Lì Black Rouge A12 - Đỏ Nâu Gạch Trầm Airfit Velvet Tint 4.5g là sản phẩm son kem lì đến từ thương hiệu mỹ phẩm Black Rouge,
                        với thiết kế giữ nguyên nét thiết kế đặc trưng của dòng Version 1, chỉ khác về màu nắp son tím pastel.
                        Đầu cọ vát chép với khoảng không giữa đầu cọ giúp kiểm soát lượng son lấy ra, đường di cọ lướt êm trên môi, chất son mướt mịn.
                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Xuất Xứ</dt>
                        <dd class="col-sm-9"><a href="#">Hàn Quốc</a></dd>

                        <dt class="col-sm-3">Số Bài Viết</dt>
                        <dd class="col-sm-9">100000</dd>

                        <dt class="col-sm-3">Hạn Sử Dụng</dt>
                        <dd class="col-sm-9">36 tháng kể từ ngày sản xuất/12 tháng kể từ ngày mở nắp</dd>

                        <dt class="col-sm-3">Thời Gian Giao Hàng</dt>
                        <dd class="col-sm-9">3-4 ngày</dd>

                        <dt class="col-sm-3">Khả Năng Sẵn Có</dt>
                        <dd class="col-sm-9">Còn hàng</dd>
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i> <span class="text">MUA NGAY </span>
                            </a>
                            <a href="#" class="btn btn-light">
                                <i class="fas fa-envelope"></i> <span class="text">THÊM VÀO GIỎ HÀNG</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">1. GIỚI THIỆU THƯƠNG HIỆU</h5>
                <p>
                    Black Rouge là một thương hiệu đến từ đất nước Hàn Quốc và được ra đời từ năm 2016.
                    Black Rouge không nổi tiếng vì có các idol Hàn Quốc nổi đình đám làm gương mặt đại diện mà chinh phục thị trường nhờ vào chất lượng và sự sáng tạo trong từng sản phẩm.
                    Ngoài dòng son Black Rouge Air Fit Velvet Tint nổi đình đám hiện nay, hãng còn sản xuất các sản phẩm làm đẹp khác.
                </p>

                <h5 class="title-description">2. THÔNG TIN SẢN PHẨM</h5>
                <p>
                    Son kem lì Black Rouge A12 - đỏ nâu gạch trầm là màu son nằm trong bộ sưu tập Black Rouge Air Fit Velvet Tint Ver 2 Mood Filter.
                    Thỏi son Black Rouge A12 sở hữu sắc đỏ nâu gạch trầm cực kỳ hợp trên nước da của người Châu Á.
                    Sắc son trầm ấm, cũng nhờ độ trầm pha chút tươi mới này mà có thể tôn lên làn da trắng của các nàng và đặc biệt là không bị “dừ" đi chút nào.
                </p>

                <h5 class="title-description">3. THÀNH PHẦN SON</h5>
                <p>
                    Các thành phần Dimethicone, đây là thành phần giúp tạo độ lì cho son.
                    Butylene Glycol và isododecane giúp giữ ẩm và tăng độ mềm mịn mượt cho son, giúp các nàng không lo về việc bị bong tróc da chết nhé.
                    Ngoài ra Trimethylsiloxysilicate giúp son lâu trôi hơn nhờ có khả năng kháng nước.
                </p>

                <h5 class="title-description">4. THIẾT KẾ</h5>
                <p>
                    Giữ nguyên nét thiết kế đặc trưng của dòng Ver 2, chỉ khác về màu nắp son tím pastel
                    Son Black Rouge A12 có thiết kế độc đáo với hình trụ vuông vức, thân son được làm bằng nhựa bóng mờ và bạn có thể thấy được màu son bên trong.
                    Logo thương hiệu Black Rouge được in trên thân son theo phong cách hologram tinh tế và nổi bật. Với tông màu tím hồng trẻ trung và năng động, son Black Rouge A12 mang đến vẻ ngoài thu hút.

                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
