
@{
    ViewBag.Title = "ChiTietNUOCHOA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">TRANG CHỦ</a></li>
            <li class="breadcrumb-item"><a href="#">DANH MỤC SẢN PHẨM</a></li>
            <li class="breadcrumb-item"><a href="#">NƯỚC HOA</a></li>
            <li class="breadcrumb-item"><a href="#">Nước Hoa Calvin Klein Eternity Eau De Parfum</a></li>
        </ol>
    </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/nước hoa/CK/1.jpg" /></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb">
                                <img src="~/Content/images/nước hoa/CK/1.jpg" />
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/7.png" />
                                </a>
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/8.png" />
                                </a>
                                <a href="#" class="item-thumb">
                                    <img src="~/Content/images/trang điểm/Chi Tiết/9.jpg" />
                                </a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">Nước Hoa Calvin Klein Eternity Eau De Parfum</h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">500 nhận xét</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 1000 lượt mua</small>
                    </div> <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <var class="price h4">2.500.000 VND</var>
                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        CK Be là một phiên bản tiếp nối sau sự thành công vang dội của CK One. Vẫn với phong cách mùi hương unisex.
                        CK Be là một mùi hương tươi mát, sảng khoái tương tự người tiền nhiệm, nhưng được thêm vào một chút tính cánh riêng để tạo nên những điểm nhấn của riêng mình.
                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Xuất Xứ</dt>
                        <dd class="col-sm-9"><a href="#">Hàn Quốc</a></dd>

                        <dt class="col-sm-3">Số Bài Viết</dt>
                        <dd class="col-sm-9">100000</dd>

                        <dt class="col-sm-3">Hạn Sử Dụng</dt>
                        <dd class="col-sm-9">36 tháng kể từ ngày sản xuất/12 tháng kể từ ngày mở nắp</dd>

                        <dt class="col-sm-3">Thời Gian Giao Hàng</dt>
                        <dd class="col-sm-9">3-4 ngày</dd>

                        <dt class="col-sm-3">Khả Năng Sẵn Có</dt>
                        <dd class="col-sm-9">Còn hàng</dd>
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i> <span class="text">MUA NGAY </span>
                            </a>
                            <a href="#" class="btn btn-light">
                                <i class="fas fa-envelope"></i> <span class="text">THÊM VÀO GIỎ HÀNG</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">1. GIỚI THIỆU THƯƠNG HIỆU</h5>
                <p>
                    Nước hoa Calvin Klein Be của hãng Calvin Klein mang ý nghĩa là hãy là chính bạn - "Be Yourself".
                    Là một mùi hương gỗ phương Đông hòa quyện với hương của cây oải hương, bạc hà và cây bách xù cùng với một nét tinh tế của quýt hồng và cỏ xanh.
                    Nước hoa được sáng tạo bởi Ann Gottlieb từ năm 1996.
                </p>

                <h5 class="title-description">2. HƯƠNG ĐẶC TRƯNG</h5>
                <p>
                    Hương đầu: Hoa oải hương, Nốt hương xanh, Cam Bergamot, Bạc hà, Lá bách xù, Quả quýt.
                    Hương giữa: Hương cỏ xanh, Quả đào, Hoa nhài, Hoa lan Nam Phi, Hoa mộc lan, Hoa phong lan.
                    Hương cuối: Xạ hương, Gỗ đàn hương, Gỗ tuyết tùng, Vanilla, Nhựa hổ phách, Nhựa Opoponax.
                </p>

                <h5 class="title-description">3. HDSD</h5>
                <p>
                    Nhấn vòi một cách dứt khoát để phần nước hoa được tỏa ra đều hơn.
                    Ngoài ra, bạn cũng nên để vòi với khoảng cách vừa đủ, không nên để quá xa mà cũng không nên để quá gần da.
                    Bạn nên thực hiện việc xịt nước hoa lên trên các động mạch. Đây là những nơi mạch máu lưu thông và có thể giúp giữ hương thơm được lâu hơn.
                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
